.registrar-section{
  margin: 0;
  padding: 0;
  /* background: url(../../assets/perrit.png) no-repeat center top; */
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.registrar-box{
  background-size: cover;
width: 370px;
height: 650px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 70px 30px;
}
#scroll{ 
  border:transparent;
  height:520px; 
  width:320px; 
  overflow-y:scroll; 
  overflow-x:hidden;
}
.registrar-box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.registrar-box label {
  margin :0;
  padding:0 0 20px ;
  text-align: center;
  font-size: 22px;
}
.registrar-box input{ 
  width: 100%;
  margin-bottom: 20px;
}
.registrar-box button[type="submit"]{
  border: none ;
  outline: none;
  height: 40px;
  background: #FFA706;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px
}
textarea {
  width: 310px;
  height: 100px;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #0e0d0d #0e0d0d -moz-use-text-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #0e0d0d;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
}
.registrar-box input[type="text"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.registrar-box select{
  max-width: 250px;
	position: relative;
  color:#0e0d0d;
  border: solid #f6f6f8 10px;
  font-size: 1em;   
   font-family : verdana,arial,helveti
}
